@media (min-width: 1510px) {
  #section-1 .img-wrapper img {
    max-width: unset;
    margin-top: -230px;
  }
}
@media (min-width: 1400px) {
  .big-container {
    max-width: 1170px;
  }
}
@media (max-width: 1201px) {
  header .header-container .header-wrapper .logo-menu-wrapp .header-menu ul li {
    margin-left: 35px;
  }
  .top-banner-wrapper .circle-info-container {
    display: none;
  }
  #section-2 .blocks-container {
    margin: 0 30px 15px;
  }
  #section-2 .slick-slide.slick-current.slick-active > div:nth-child(2) .blocks-container {
    margin-bottom: 15px;
  }
  .footer-main {
    padding: 30px 0;
  }
  .footer-main .footer-logo {
    background-size: 320px 80px;
  }
  .footer-main .footer-logo ul li {
    font-size: 12px;
  }
  .footer-main .footer-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer-main .footer-menu {
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .footer-main .footer-adrees-button .button-container-footer {
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer-main .footer-adrees-button .adress-footer {
    text-align: center;
  }
}
@media (max-width: 990px) {
  header .header-container {
    background-color: #FFFFFF;
    top: 0;
  }
  header .header-container .header-wrapper {
    display: block;
  }
  header .header-container .header-wrapper .logo-menu-wrapp {
    flex-direction: column;
  }
  header .header-container .header-wrapper .logo-menu-wrapp .header-menu {
    margin-top: 15px;
    width: 100%;
  }
  header .header-container .header-wrapper .logo-menu-wrapp .header-menu ul {
    flex-direction: column;
    padding: 0;
    text-align: center;
    font-size: 25px;
  }
  header .header-container .header-wrapper .logo-menu-wrapp .header-menu ul li {
    padding: 10px 0;
    margin: 0;
  }
  header .header-container .header-wrapper .logo-menu-wrapp .header-logo {
    padding-left: 0;
  }
  
}
@media (max-width: 991px) {
  header .header-container .header-wrapper .button-wrapper-header {
    display: none;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 50px;
  }
  
  #content {
    margin-top: 80px;
  }
  .top-banner-wrapper {
    padding: 100px 0;
  }
  .top-banner-wrapper .title-container {
    font-size: 18px;
  }
  #section-1 .h2-sec-1 {
    line-height: 50px;
  }
  #section-1 p {
    padding-bottom: 40px;
  }
  #section-2 .blocks-container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  #section-3 {
    padding-bottom: 60px;
  }
  #section-3 .h2-blue {
    font-size: 43px;
  }
  #section-3 p {
    padding: 0;
    padding-bottom: 40px;
  }
  #section-4 .blocks-container {
    margin: 20px auto;
  }
  #section-4 .blocks-container img {
    margin: auto;
  }
  #archive-professionals h1 {
    font-size: 50px;
    line-height: 60px;
  }
  #directory .top-banner-wrapper h1 {
    font-size: 50px;
    line-height: 60px;
  }
  #directory .top-banner-wrapper .subtitile {
    line-height: 45px;
  }
  #directory .content-directory {
    padding: 50px 0;
  }
  #directory .content-directory .prof-category ul {
    flex-direction: column;
    text-align: center;
  }
  #directory .content-directory .prof-category ul li {
    padding: 5px 0;
  }
  #directory .blocks-container {
    margin: 10px auto;
  }
  #professionals .col-md-8 {
    width: 100%;
  }
  #professionals .info-prof {
    flex-direction: column-reverse;
  }
  #professionals .about-prof {
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 576px) {
  #section-1 {
    padding: 50px 0;
  }
  #section-1 .logo-wrapper-main {
    padding: 65px 0 0 100px;
    background-size: 350px 90px;
    margin-bottom: 50px;
  }
  #section-1 .logo-wrapper-main ul li {
    padding-right: 5px;
  }
  #section-1 .logo-wrapper-main ul li + li {
    padding-left: 5px;
  }
  #section-3 {
    padding-top: 60px;
  }
  #section-3 .h2-blue {
    font-size: 40px;
  }
  .footer-main .footer-logo ul li {
    font-size: 10px;
    padding-right: 5px;
  }
  .prev {
    margin-left: -5px;
  }
  .next {
    margin-right: 20px;
  }
}
